.mainHeading {
    background: linear-gradient(
      297deg,
      rgba(255, 145, 77, 1) 0%,
      rgba(255, 49, 49, 1) 100%
    );
  }
  .fontMoreSugar{
    font-family: 'More Sugar', cursive;
  }
  .fontBimbo{
    font-family: 'Bimbo', cursive;
    font-weight: 100;
  }