.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  flex-wrap: wrap;
}

.textContent {
  max-width: 35%;
}

.subheading {
  color: #da1212;
  font-size: 18px;
  font-weight: bold;
  font-family: "Canva Sans", sans-serif;
  text-transform: uppercase;
}

.heading {
  font-size: 40px;
  font-weight: bold;
  line-height: 55px;
  font-family: "Canva Sans", sans-serif;
  color: #000;
}

.description {
  font-size: 1rem;
  font-family: "Canva Sans", sans-serif;
  color: #a6a6a6;
  font-weight: bold;
}

.imageContent {
  max-width: 100%;
}

.image {
  width: 780px;
  height: 700px;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .image {
    height: auto;
    /* width: 100%; */
  }
  .textContent {
    max-width: 50%;
    margin-left: 30px;
  }

  .heading {
    font-size: 2rem;
  }

  .subheading {
    padding-top: 20px;

    font-size: 18px;
  }

  .description {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .mainContent {
    flex-direction: column;
    text-align: center;
  }

  .textContent {
    max-width: 80%;
    margin-left: 0;
  }

  .imageContent {
    max-width: 80%;
    margin: 0 auto;
  }

  .heading {
    font-size: 1.8rem;
  }

  .subheading {
    padding-top: 20px;

    font-size: 16px;
  }

  .description {
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
  .textContent {
    max-width: 100%;
  }

  .heading {
    font-size: 1.5rem;
  }

  .subheading {
    padding-top: 20px;

    font-size: 14px;
  }

  .description {
    font-size: 0.8rem;
  }

  .imageContent {
    max-width: 100%;
  }
}
